.catalog-tabs {
    display: flex;
    flex-direction: row;
    width: 57.6%;
    box-shadow: 0 0 10px #f0f0f0;
}
.catalog-tab button{
    position: relative;
    border: 0;
    font-size: 20px;
    padding: 0 20px;
}
.tabs {
    transition: 0.4s;
    cursor: pointer;
    background-color: #FFFFFF;
}
.tabs:hover {
    transition: 0.4s;
    background-color: #ff494915;
}
.tabs:active {
    transition: 0.2s;
    background-color: #ff494935;
}
.active-tabs {
    background-color: #ff494915;
}
.active-tabs::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2%;
    left: 0;
    background-color: #FF4949;
}
.dog__date {
    color: #B6B6B6;
    font-size: 14px;
}
.dog__phone {
    font-size: 16px;
}
.dog__adress {
    font-size: 16px;
}