.dog {
    transition: 0.3s;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 20px #f1f1f1;
}
.dog:hover {
    transition: 0.4s;
    box-shadow: 0 0 20px #d8d6d6;
}
.dog img {
    margin-right: 40px;
    width: 260px;
    height: 260px;
    background: #F5F5F5;
    border-radius: 20px;
}
.dog__date {
    color: #B6B6B6;
    font-size: 14px;
}
.dog__phone {
    background: url(../../img/phone.svg) no-repeat;
    font-size: 16px;
    padding-left: 30px;
}
.dog__adress {
    background: url(../../img/geo.svg) no-repeat;
    font-size: 16px;
    padding-left: 30px;
}
.dog__link {
    background: url(../../img/link_arrow.svg) no-repeat;
    font-size: 16px;
    color: black;
    background-position: right;
    padding-right: 40px;
}
.dog__link:hover {
    color: black;
}